

.pageContainer{
max-width: 1000px;
margin: 0 auto;
padding:0;
}

/* _________________________Selectors for mobile_____________________________ */

body {

   background-image: url(./home/hero_image_mobile.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Roboto', sans-serif;
}

.navhome{
  display:none;
}

.hometitle{
font-size: 3rem;
line-height: 1.7rem;
color: white;
margin-left: 4.3%;

}

/* .home_logo{
  margin-left: 40%;
  margin-top: 10%;
} */

.logopic{
  width:66.66%;
  margin-left: 25%;
}

.introText{
  margin: 5% auto;
  /* padding-left: 16.66%; */
}

.introText p{
    color:white;
    font-size: 1.8rem;
   text-align: center;
}

.socialLinks{
   display: inline-block;
   margin: 15% 27%;
}

.icon{
 /* margin-left: 20%;
 padding: 25px; */
 float: left;

}

.pic{
  width: 100px;
}

/* .col{
  float:left;
} */



/* ________________Collumns for laptope__________________ */
.col1{
width: 8.33%;
}

.col2{
width:16.66%;
}

.col3{
width:25%;
}

.col4{
width:33.33%;
}

.col5{
width:41.66%;
}

.col6{
width:50%;
}

.col7{
width:58.33%;
}

.col8{
width:66.66%;
}

.col9{
width:75%;
}

.col10{
width:83.33%;
}

.col11{
width:91.66%;
}

.col12{
width:100%;
}


.row:after{
  clear:both;
  display:block;
  content:'';
}



body {
  background-color: #01090b;
}
                          /* Tablet media queary  */

@media only screen and (min-width : 600px) {

/* ______________Collumns for tablet______________________________ */

.col1M{
width: 8.33%;
}

.col2M{
width:16.66%;
}

.col3M{
width:25%;
}

.col4M{
width:33.33%;
}

.col5M{
width:41.66%;
}

.col6M{
width:50%;
}

.col7M{
width:58.33%;
}

.col8M{
width:66.66%;
}

.col9M{
width:75%;
}

.col10M{
width:83.33%;
}

.col11M{
width:91.66%;
}

.col12M{
width:100%;
}


/* ___________________________Tablet styling_________________________________ */

body {
   background-image: url(./home/hero_image_tablet.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Roboto', sans-serif;
}

.navhome{
  display:none;
}

.hometitle{
font-size: 1.7rem;
line-height: 1rem;
color: white;
margin-left: 2%;

}

.logopic{
  width:50%;

}

.introText{
  margin: 5% auto;
  /* padding-left: 16.66%; */
}

.introText p{
    color:white;
    font-size: 1.8rem;
    text-align: center;
}

.socialLinks{
   display: inline-block;
   margin: 15% 27%;
}

.icon{
 /* margin-left: 20%;
 padding: 25px; */
 float: left;

}

.pic{
  width: 80px;
}

}

/* _________________Laptop columns__________________________________ */

@media only screen and (min-width : 800px) {

  .col1L{
  width: 8.33%;
  }

  .col2L{
  width:16.66%;
  }

  .col3L{
  width:25%;
  }

  .col4L{
  width:33.33%;
  }

  .col5L{
  width:41.66%;
  }

  .col6L{
  width:50%;
  }

  .col7L{
  width:58.33%;
  }

  .col8L{
  width:66.66%;
  }

  .col9L{
  width:75%;
  }

  .col10L{
  width:83.33%;
  }

  .col11L{
  width:91.66%;
  }

  .col12L{
  width:100%;
  }

/* _________________________Computer layout_____________________________________ */

body {
   background-image: url(./home/hero_image.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Roboto', sans-serif;
}

.navhome {
  display:block;
  text-align:center;
  height:30px;
  margin-left:16%;
}

a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  display:inline-block;
  margin: 3%;
}

a:hover{
  text-decoration: underline;
}

.hometitle {
display: none;
}

.home_logo {
  /* margin-left: 25%; */
  margin-top: 10%;
}

.logopic {
  width:30%;
  margin-left: 33%;
}

.introText {
  margin: 5% auto;
  /* padding-left: 16.66%; */
}

.introText p {
    color:white;
    font-size: 1.2rem;
   text-align: center;
}

.socialLinks{
   display: inline-block;
   margin: 5% 27%;
}

.icon{
 /* margin-left: 20%;
 padding: 25px; */
 float: left;

}

.pic{
  width: 45px;
}



}
